/* your custom css */

footer .fbOpenSource {
  text-align: center;
}

.mainContainer .imageAlignTop .blockImage {
  max-width: 150px;
}

.postContainer .imageAlignTop .blockImage {
  max-width: 100%;
}

.postContainer div.blockElement {
  margin-bottom: 50px;
}

.blockImage img {
  border-radius: 3px;
}

#ktronImg {
  max-width: 50%;
}

#experimentsImg { 
  max-width: 100%;
 }

#experiments-intro {
  margin-bottom: 35px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}